@font-face {
    font-family: HOLI;
    src: url(../files/fuenteHarry.TTF);
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
    color: rgb(255, 255, 255);
    
    margin: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    font-family: "HOLI",sans-serif;
}

#game .cell{
    width: 120px;
    height: 120px;
    font-size: 3rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(30, 30, 30, 20%);
    backdrop-filter: blur(10px);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

#game .cell:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

#game {
    width: 370px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

#resultado {
    position: relative;
    top: 10 px;
    height: 1rem;
}

.fondo {
    position: fixed;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: fill;
}

.ficha {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    animation: zoomIn 0.4s ease-out;
    transform-origin: center;
}